*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #588157;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    color: #fcbf49;
    background-color: #fffecd;
    font-size: 10vmin;
    height: 18vmin;
    width: 18vmin;
    border:none ;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.8);
}
#reset-btn{
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    color: aliceblue;
    background-color: #1f2421;
    margin-bottom: 10vmin;
}
#new-btn{padding: 0.8rem;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    color: aliceblue;
    background-color: #1f2421;
}
#msg{
    font-size: 5vmin;
    font-family:Arial, Helvetica, sans-serif;
    color: #eddbb8;
}
.msg-container{
    height: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.hide{
    display: none;
}